html,body,tbody,div,#wrapper,#table{
	height:100%;
	width:100%;
}

#wrapper{
	margin:auto;
}

table{
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}

*{
	padding:0 0 0 0; !important
}

body{
	margin:0 0 0 0;
}